<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">XZENO SHOP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">🏠 Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">🛍️ Товары</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_orders' %}">🛍️ Заказы</a>
        </li>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'info' %}">ℹ️ О нас</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'product_form' %}">Добавить товар</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


